* {
  box-sizing: border-box;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background-color: #8f33d7;
}

.handle {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 40px;
}
